body.error404 {
  background-color: var(--primary-color);
}

.page-404 h1, .page-404 p {
  color: white;
}
.page-404 .content {
  max-width: 1053px;
}

.page-404 h1 {
  font-weight: 600;
  font-size: 5.25rem;
  margin-bottom: 3.5rem;
}



.search-form {
  width: 100%;
  position: relative;
  align-items: center;
  margin-top: 3.5rem;
}

.search-submit {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  margin-left: 1rem;
}
