
#about-us-picture {
  grid-column: 1 / span 4 ;
  transform: translateX(-160px);
}

.text-content {
  grid-column: 1 / span 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-paragraph {
  margin-bottom: 56px;
  h3 {
   margin-bottom : 20px
  }
  p {
    font-size: 20px;
    line-height: 38px;
  }
}

@media screen and (min-width: 1000px) {
    .text-content {
    grid-column: 7 / span 4;
  }
}

@media screen and (min-width: 1300px) {
    .text-content {
    grid-column: 6 / span 6;
  }
}

@media screen and (max-width: 1600px) {

}
