.footer {
    background-color: var(--primary-color);
    padding: 5rem 0;
}

.footer h4 {
    font-weight: 700;
}

.footer p,
.footer h4 {
    color: #fff;
    font-size: 20px;
}
.footer-content {
    height: 10rem;
    display: flex;
    margin-bottom: 70px;
}

.footer-contacts {
    display: flex;
    gap: 4rem;
    text-align: right;
    margin: auto 0;
    margin-left: auto;
}

.contact-info h4 {
    margin-bottom: 1rem;
}

.footer-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-socials a {
    text-decoration: none;
}

.footer small {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    color: white;
}

