.front-page h1 {
margin-bottom: 226px
}


#first-picture {
  float: right;
  margin-bottom: 132px;
}

.paragraph {
    grid-column: 1 /span 12;
    margin-bottom: 125px;
    h2 {
        margin-bottom: 16px;
        line-height: 100%;
    }
}

.heading {
  grid-column: 3 / span 12;
  max-width: 917px;
  margin-top: 132px;
  margin-bottom: 125px;
}

.heading h2 {
  margin-bottom: 16px;
}

@media screen and (min-width: 1024px) {
  .paragraph {
    grid-column: 3 / span 7;
  }
}
