.post-list {
    grid-column: 1 /span 4;
}

.post-list div {
    height: fit-content;
}

.post-list ul {
    list-style: none;
}
.post-list li {
    height: 104px;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 32px;
    
    a {
        color: var(--text-color);
        text-decoration: none;
        transition: color 0.3s ease;
    }
}

.post-list time {
    font-size: 13px;
    color: var(--text-color);
}

.post-list img {
height: 100%;
aspect-ratio: 1/1;
    object-fit: cover;
}